<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/tendersDB</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">admin</property>

        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <mapping class="com.coursework.coursework.ServiceLayer.User"/>
        <mapping class="com.coursework.coursework.ServiceLayer.Tender"/>
        <mapping class="com.coursework.coursework.ServiceLayer.TenderProposal"/>
        <mapping class="com.coursework.coursework.ServiceLayer.TenderReview"/>
        <mapping class="com.coursework.coursework.ServiceLayer.Chat"/>
        <mapping class="com.coursework.coursework.ServiceLayer.Message"/>
    </session-factory>
</hibernate-configuration>
